.App {
	text-align: center;
	background-color: #f9f9f9
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.textField {
	margin: 5px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 300px;
}

.filter-inputs {
	padding-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.textInput {
	margin-top: 5px;
	width: 300px;
}

.filter-chip { 
	margin: 3px !important;
}

.cars-to-compare {
	position: fixed;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	padding: 4px;
}

.car-chip {
	margin: 4px;
}

.MuiChip-label {
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.textField {
		width: 150px;
	}

	.textInput {
		width: 150px;
	}
}