.Car-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex: 1;
	//align-items: flex-start;
	//width: 75%;
	margin:auto;
}
  
.car-card {
	display: block;
	flex: 25%;
	min-width:18rem;
	max-width:22rem;
	//height: 150px;
	//position: relative;
	//box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	//background-size: cover;
	//overflow-x: hidden;
	//overflow-y: hidden;
	margin: 20px;
}
  
.car-media {
	display: block;
	//flex: 25%;
	width: 100%;
	//min-width:250px;
	height: 150px;
	position: relative;
	//border-radius: 5px;
	//box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	//background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
	//margin: 20px;
}
  
.add-button {
	color: default;
}

.card-content {
	padding: 2px !important;
}

.Car-cardOverlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%); /* safari5.1+,chrome10+ */
	top: 0px;
	left: 0px;
}
  
.Car-card h3 {
	position: absolute;
	top: 50%;
	left: 5%;
	margin-top: 0px;
}

@media only screen and (max-width: 600px) {

	.car-card {
		margin: 7px;
	}
}