.Detail-paper {
    margin: auto;
    overflow:auto;
    margin-top: 20px;
    width: 95%;
}

.Detail-price {
    margin-top: 5px;
}
.Detail-metrics {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.Detail-table {
    width: 300px;
}

.info-box {
    max-width: 600px;
    margin: auto;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    margin: auto;
}
.row-title {
    width: 120px;
    text-align: left;
}

.row-cell {
    float: right;
    width: 120px;
}
.Detail-article {
    margin: auto;
    /* overflow:auto; */
    margin-top: -35px;
    height: 200px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.356);

}
.Article-title {
    position: relative;
    top: 100px;
    bottom: 100px;
    color: white;
    font-size: x-large;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align : right;
    background-color: rgba(255, 255, 255, 0.356);
}
.Article-img {
    /* position: relative; */
    max-width: 100%;
    max-height: 100%;
}